.hero__section {
  padding: 200px 0;
  text-align: center;
  position: relative !important;
  background-image: url(../../images/hero-img/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  .hero__section__content {
    position: relative;
    .a {
      width: 80%;
    }
    .hero__title {
      position: absolute;
      top: 50px;
      right: 0;
      left: 0;
      p {
        font-family: poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.6px;
        color: #1d252c;
        margin: 20px 0;
      }
      button {
        margin-top: 45px;
        font-family: Roboto;
        font-size: 20.65px;
        font-weight: 500;
        line-height: 24.19px;
        padding: 8px 44px;
        background-color: #56b280;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s linear;
      }
      button:hover {
        scale: 1.04;
      }
    }
  }
}
